.wrapper {
  isolation: isolate;
  height: 100%
}

.buttonPrimary,
.buttonSecondary,
.buttonDestructive,
.buttonSuccess,
.buttonWarning,
.buttonPost {
  font-size: 1.025rem;
  border: none;
  outline: none;
  padding: 0.2rem 1rem;
  width: max-content;
  cursor: pointer;
  transition: background-color 0.05s ease-in-out;
  border-radius: 3px;
  height: 100%;
}

.buttonPrimary {
  background-color: #2563eb;
  color: white;
  border-radius: 1000px;
  box-shadow: 0px 0px 3px 0px blue;
}

.buttonPrimary:hover {
  background-color: #1d4ed8;
}

.buttonSecondary {
  background-color: #f8fafc;
  border: 1px solid #cbd5e1;
  color: black;
  transition: box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out
}

.buttonSecondary:hover {
  background-color: #e2e8f0;
  box-shadow: 0px 0px 7px 4px #d3e9ff5c;
}

.buttonDestructive {
  background-color: #dc2626;
  color: white;
  font-weight: bold;
  transition: box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out
}

.buttonDestructive:hover {
  background-color: #b91c1c;
  box-shadow: 0px 0px 10px 3px #b91c1c1a;
}

.buttonSuccess {
  background-color: #16a34a;
  color: white;
  font-weight: bold;
  border-radius: 1000px;
  transition: box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out
}

.buttonSuccess:hover {
  background-color: #15803d;
  box-shadow: 0px 0px 10px 3px #15803c23
}

.buttonWarning {
  background-color: #facc15;
  color: #000000;
  font-weight: bold;
}

.buttonWarning:hover {
  background-color: #eab308;
}

.buttonPost {
  background: linear-gradient(to bottom right, rgb(104, 255, 104), rgb(0, 230, 0));
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0.35rem 1rem;
  
}

.buttonPost:hover {
  background: linear-gradient(to bottom right, rgb(0, 200, 0), rgb(0, 215, 0));
}

button:active {
  opacity: 0.9;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
