.wrapper {
  width: 90%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.537);
  margin: 0.1rem;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px;
}

.authorWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 4px;
}

.authorWrapperChild {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: auto;
  align-items: center;
}

.authorName {
  color: rgb(45, 45, 45);
  font-weight: bold;
  margin-left: 2px;
  font-size: 1.155rem;
}

.pfp {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.contentWrapper p {
  color: rgb(29, 29, 29);
  margin-bottom: 0.5rem;
}

.postMenuBtn {
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.postMenuBtn:hover {
  opacity: 0.75;
}

.postMenuBtn:active {
  opacity: 0.6;
}

.postMenuIcon {
  width: 70%;
  height: 70%;
  transform: rotateZ(90deg);
}

.timeAgo {
  color: rgb(69, 40, 40);
  font-size: 0.9rem;
}

.buttonWrapper {
  display: flex;
  margin-top: 15px;
  gap: 17px;
}


.commentBtnWrapper,
.reactBtnWrapper {
  display: flex;
  align-items: center;
  color: rgb(88, 88, 88);
  font-size: 0.9rem;
}


.commentBtn,
.reactBtn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  height: 35px;
  padding: 4px;
}

.reactBtn {
  font-size: 1.29rem;
}


.commentBtnIcon, .reactBtnIcon {
  width: 100%;
  height: 100%;
}


.reactCount,
.commentCount {
  color: rgb(88, 88, 88);
  font-size: 0.8rem;
  margin-left: 5px;
}

.commentBtn:hover,
.reactBtn:hover {
  opacity: 0.7;
}

.commentBtn:active,
.reactBtn:active {
  opacity: 0.5;
}
